{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>VBooks</title>
  <link href="{% static 'static/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'static/bootstrap/css/album.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand">VBooks - Pagina de Inicio</a>
        </div>
      </div>
    </header>
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Lista de Libros disponibles</h1>
          <p class="lead text-muted">Te gusta la lista, que esperas para unirte a esta pagina!</p>
          <p>
            <a href="/accounts/register" class="btn btn-primary">Registrate!</a>
            <a href="/login" class="btn btn-secondary">Iniciar Sesion</a>
          </p>
        </div>
      </section>
      <div class="album text-muted">
        <div class="container">
          {%block content%}
          {%endblock%}
        </div>
      </div>
    </main>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
      </div>
    </footer>
    <script src="{% static 'static/jquery/jquery-3.2.1.min.js'%}"></script>
    <script>window.jQuery || document.write("<script src='{% static 'static/jquery/jquery-3.2.1.min.js' %}'><\/script>")</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="{% static 'static/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
