{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VBooks Admon: {% block A %}{%endblock%}</title>
    <link href="{%static 'static/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'static/bootstrap/css/starter-template.css'%}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">VBooks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Pagina Principal<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/libros/lista">Lista Libros</a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="container">
      <div class="starter-template">
        <h1>Titulo: {{result.Nombre}}</h1>
        <p class="lead">Por: {{result.Autor}}<br>
          <h2>Sinopsis</h2><br>{{result.Sinopsis}}<br><br><em>Editorial: {{result.Editorial}}</em>
        </p>
      </div>
    </main>
    {%block script%}{%endblock%}
    <script src="{% static 'static/jquery/jquery-3.2.1.min.js'%}"></script>
    <script>window.jQuery || document.write("<script src='{% static 'static/jquery/jquery-3.2.1.min.js' %}'><\/script>")</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="{% static 'static/bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>

</html>
