{% extends "libro/base.html"%}
{%block script%}
<script>
function getParameterByName(name, url) {
  if (!url) url = window.location.href;
  name = name.replace(/[\[\]]/g, "\\$&");
  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\+/g, " "));
}


$(document).ready(function(){
  console.log("working");
  var query = getParameterByName('q');
  console.log(query);
  //var nextTweetUrl;
  var nextLibroUrl;
  var cont = 0;


  function attachLibro(libroValue, prepend) {
    var libroDateDisplay = libroValue.timesince;
    var libroAutor = libroValue.Autor;
    var libroNombre = libroValue.Nombre;
    var libroEditorial = libroValue.Editorial;
    var libroPrecio = libroValue.Precio;
    var libroSinopsis = libroValue.Sinopsis;
    var libroid = libroValue.id;
    if(prepend==true){
      $("#ajax_libros").prepend(
        "<div class='card' style='width: 20rem;'>"+
            "<div class='card-body'>"+
              "<h4 class='card-title'>Titulo: "+ libroNombre +"</h4>"+
              "<h6 class='card-subtitle mb-2 text-muted'>Autor: "+ libroAutor +"</h6>"+
              "<p class='card-text'>Editorial: "+ libroEditorial +"</p>"+
              "<p class='card-text'>Editorial: "+ libroSinopsis.substring(0,150) +"</p>"+
              "<a href='/libros/detalle/" + libroid +"'' class='card-link'>Detalle</a>"+
            "</div>"+
          "</div>")
    }
    else {
      $("#ajax_libros").append(
        "<div class='card' style='width: 20rem;'>"+
            "<div class='card-body'>"+
              "<h4 class='card-title'>Titulo: "+ libroNombre +"</h4>"+
              "<h6 class='card-subtitle mb-2 text-muted'>Autor: "+ libroAutor +"</h6>"+
              "<p class='card-text'>Editorial: "+ libroEditorial +"</p>"+
              "<p class='card-text'>Editorial: "+ libroSinopsis.substring(0,150) +"</p>"+
              "<a href='/accounts/profile/libros/detalle/" + libroid +"' class='card-link'>Detalle</a>"+
              "<a href='/accounts/profile/libros/detalle/" + libroid +"/delete' class='card-link'>Eliminar</a>"+
              "<a href='/accounts/profile/libros/detalle/" + libroid +"/edit' class='card-link'>Modificar</a>"+
          "</div>")
    }
  }
  function fecthLibros(url) {
    console.log("fetching...");
    var fetchUrl;
    if (!url){
      fetchUrl='/api/libros/';
      console.log(fetchUrl);
    }
    else{
      fetchUrl=url;
      console.log(fetchUrl);
    }
    $.ajax({
      url: fetchUrl,
      data:{
        "q": query
      },
      method: "GET",
      success: function(data){
        console.log(data);
        nextLibroUrl = data.next;
        $.each(data.results, function(key, value){
          var libroKey = key;
          attachLibro(value);
        });
      },
      error: function(data) {
        console.log("error");
        console.log(data);
      }
    });
  }
  fecthLibros();

  $("#loadmore").click(function(event) {
    event.preventDefault();
    console.log("Click me!");
    if (nextLibroUrl) {
      fecthLibros(nextLibroUrl);
    }
  });
  $("#libros-form").submit(function(event) {
      event.preventDefault();
      var _this = $(this);
      console.log(event);
      console.log(_this.serialize());
      var formData = _this.serialize();

      $.ajax({
        headers:{
          "Content-Type": "application/json",
          "Accept" : "appliaction/json",
        },
        url: "api/libros/create",
        data: formData,
        type: "POST",
        success: function(data){
          _this.find("#id_content").val("");
          attachLibro(data, true);
        },
        error: function(data) {
          console.log("error");
          console.log(data);
          console.log(data.statusText);
          console.log(data.status);
        }
      });
  });
});
</script>
{%endblock%}
{%block content%}
    {% include "libro/search_form.html" %}
    {% if not request.GET.q %}
      {% include "libro/form.html" with form=create_form action_url=create_ajax btn_title="Registrar" form_id="libros-form"%}
    {% endif%}
    <article class="row" id="ajax_libros">

    </article>
    <button  class="btn btn-primary" style="padding: 10px; margin: 10px;" id="loadmore">Cargar mas Libros</button>

{%endblock%}
